<div fxLayout="column" fxLayoutAlign="center center" class="weather-container">
  <h1>A simple weather app</h1>
  <mat-form-field appearance="outline">
    <input #query
           type="text"
           placeholder="Type a city"
           matInput>

  </mat-form-field>
  <span *ngIf="location$ | async as location">
      Showing the weather in : {{location.name + ', ' + location.country}}
    </span>
  <div class="forecasts" fxLayout="row" fxLayoutAlign="space-around center" *ngIf="forecasts$ | async as forecasts">
    <mat-card *ngFor="let forecast of forecasts">
      <mat-card-title>{{getDayFromDate(forecast)}}</mat-card-title>
      <img [src]="forecast.day.condition.icon" alt="weather icon">
      <span>{{math.round(forecast.day.maxtemp_c)}}°</span>&nbsp;&nbsp;<span
      style="color: #9aa0a6">{{math.round(forecast.day.mintemp_c)}}°</span>
    </mat-card>
  </div>
  <footer>
    Powered by <a href="https://www.weatherapi.com/" title="Free Weather API">WeatherAPI.com</a>
  </footer>
</div>
